* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Larsseit';
    font-weight: 400;
}

:root {
    --sky-color: #62D0DF;
    --blue-color: #0052C1;
    --dark-blue-color: #22356F;
    --orange-color: #FAB63E;
}

.container {
    width: 100%;
}

/******header*******/

.header {
    /* position: absolute; */
    /* top: 0;  */
    overflow: hidden;
    width: 100%;
    padding: 27px 131px 0px 179px; 
    min-height: 77px;
    display: flex;
    /* justify-content: space-between; */
    background-color: #F4F9E2;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    color: var(--sky-color);
    font-size: 24px;
}

.header__nav {
    position: absolute;
    right: 150px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    height: 50px;
}

.header__block-link {
    min-width: 233px;
    height: 14px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header__link-section {
    font-size: 14px;
    font-weight: 300;
    transition: color, border .2s ease-in-out;
}

.header__link-section:hover {
    border-bottom: 2px solid #22356F;
    font-weight: 700;
    padding-bottom: 20px;
}

.header__img-block {
    position: absolute;
    top: 0;
    right: 0;
}

.header__rectangle {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 323px;
    height: 917px;
    background-color: #FFFFFF;
}

.header__ellipse-mint {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: -170px;
    width: 843px;
    height: 649px;
    border-radius: 312px;
    background-color: #EDFDFF;
    transform: rotate(110deg);
}

.header__ellipse-img {
    position: absolute;
    z-index: 2;
    top: -50px;
    right: -70px;
    width: 807px;
    height: 544px;
    background-image: url('../image/helping_you_thrive.png');
    clip-path: inset(20px 20px 20px round 312px);
}

.header__contact-us-link {
    width: 150px;
    height: 50px;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: var(--sky-color);
    font-weight: 700;
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: 16px;
    transition: background-color .5s ease-in-out;
}

.header__contact-us-link:hover {
    background-color: #008aff
}

.header__contact-us-link:active {
    background-color: #008aff

}

/*******helping_you_thrive********/

.helping-you-thrive {
    min-height: 840px;
    padding: 164px 0px 75px 179px;
    display: flex;
    justify-content: space-between;
    background-color: #F4F9E2;
}

.helping-you-thrive__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.helping-you-thrive__heading {
    font-size: 24px;
    color: var(--sky-color);
    font-weight: 700;
    min-height: 64px;
    margin-bottom: 19px
}

.helping-you-thrive__descriptions {
    font-size: 48px;
    font-weight: 700;
    color: var(--dark-blue-color);
    min-height: 167px;
    width: 484px
}

.helping-you-thrive__text {
    font-size: 24px;
    color: var(--dark-blue-color);
    width: 469px;
    min-height: 160px;
    line-height: 42px;
    margin-bottom: 63px;
}

.helping-you-thrive__link-block {
    display: flex;
}

.helping-you-thrive__link {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    color: #FFFFFF;
    transition: color, background-color .5s ease-in-out;
}

.helping-you-thrive__link:hover {
    background-color: #FA8128;
}

.i-do {
    background-color: #F4F9E2;
    margin-left: 38px;
    color: var(--orange-color);
}

.i-do:hover {
    background-color: var(--orange-color);
    color: #F4F9E2;
}

.helping-you-thrive__link:active {
    background-color: #FA8128;
    color: #F4F9E2;
}


/******why_thrive******/

.why-thrive {
    width: 100%;
    min-height: 604px;
    display: flex;
    justify-content: space-between;
    background-color: var(--sky-color);
}

.why-thrive__content {
    width: 70%;
    padding: 150px 180px 95px 78px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.why-thrive__heading {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.why-thrive__bold-text {
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    color: #FFFFFF
}

.why-thrive__text {
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF
}

.why-thrive__img {
    width: 525px;
    height: 604px;
    background-image: url('../image/why_thrive.png');
}

/*******about-us******/

.about-us {
    display: flex;
    justify-content: space-between;
    padding: 150px 424px 0px 106px;
    min-height: 361px;
    background-color: #FFFFFF;
}

.about-us__heading {
    font-size: 16px;
    line-height: 22px;
    color: var(--dark-blue-color);
    font-weight: 400;
    min-width: 100px;
    margin-top: 8px;
}

.about-us__text {
    font-size: 24px;
    line-height: 34px;
    color: var(--dark-blue-color);
    font-weight: 500px;
    width: 592px;
    min-height: 210px;
}